.cart {
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
}

.cart-item img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.name-quantity {
    margin-right: 20px;
    width: 150px;
}

.quantity-control {
    display: flex;
    align-items: center;
    padding: 1px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 80px;
    height: 20px;
}

.quantity-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 1px;
    width: 40px;
    height: 20px;
}

.quantity-button:hover {
    background-color: #7b7a7a;
    border: 1px solid #7b7a7a;
    border-radius: 5px;
    width: 40px;
    height: 20px;
}

.remove-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1.2em;
    transition: transform 0.2s, color 0.3s;
}

.remove-button:hover {
    color: #7b7a7a; /* Darker red on hover */
    transform: scale(0.8); /* Slight zoom effect */
}

.clear-total {
    display: flex;
    align-items: center;
}

.total {
    margin-right: 40px;
    font-size: 20px;
}

.checkout-button {
    background-color: #1a80f6;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
}

.checkout-button:hover {
    background-color: #bab9b9;
}

.checkout-button {
    margin-top: 10px;
    width: 450px;
    height: 40px;
}