.product-detail {
    display: flex;
    flex-direction: row; 
    justify-content: left;
    align-items: flex-start;
    max-width: 1000px;
    margin: 20px auto;
    position: relative;
    z-index: 5;
}

.back-icon {
    position: relative;
    top: 20px;
    margin-right: 1500px;
    cursor: pointer;
}

.product-image {
    width: 100%;
    max-width: 350px;
    height: 412px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
}

.product-description, .product-price {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
}

.product-price {
    margin-top: 1px;
    border-bottom: 1px solid #333; 
    padding-bottom: 20px;
}

.quantity-name {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 0px;
    margin-top: 180px;
}

.quantity-picker {
    display: flex;
    align-items: center;
    padding: 1px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.quantity-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 1px;
    width: 40px;
    height: 40px;
}

.quantity-button:hover {
    background-color: #7b7a7a;
    border: 1px solid #7b7a7a;
    border-radius: 5px;
}

.quantity-display {
    padding: 0 10px;
    font-size: 1.2em;
}

.add-to-cart-button {
    background-color: #fff;
    color: #333;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #7b7a7a;
}
